.profile{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}

.profile__greetings{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 112px;
}

.profile__elements{
  width: 410px;
  border-bottom: 1px solid #424242;
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
  margin-bottom: 7px;
}

.profile__elements:last-of-type{
  border-bottom: none;
  margin-bottom: 190px;
}

.profile__element{
  font-size: 11px;
  font-weight: 500;
}

.profile__link{
  color: #FFF;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 4px;
  background: none;
  border: none;
  transition: opacity 0.3s;
}

.profile__link:hover{
  opacity: 0.7;
  cursor: pointer;
}


.profile__link_type_red{
  margin-top: 14px;
  color: #EE3465;
}

@media screen and (max-width: 768px) {

  .profile{
    margin-top: 222px;
  }

  .profile__greetings{
    margin-bottom: 85px;
  }

  .profile__elements:last-of-type{
    margin-bottom: 180px;
  }
}

@media screen and (max-width: 430px) {
  .profile__elements{
    width: 260px;
  }

  .profile__greetings{
    margin-bottom: 70px;
  }

  .profile__elements:last-of-type{
    margin-bottom: 350px;
  }

  .profile{
    margin-top: 54px;
  }
}
