.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 93.6%;
  margin: auto;
  margin-top: 2px;
}


@media screen and (max-width: 768px) {
  .main {
    width: 94.5%;
  }
}

@media screen and (max-width: 350px) {
  .main {
    width: 91.5%;
  }
}
