.filter-checkbox{
  margin: auto;
  display: flex;
  margin-top: 28px;
  margin-bottom: 39px;
}

.filter-checkbox__button{
  border: none;
  background: url('../../images/smalltumb.svg');
  background-size: cover;
  width: 36px;
  height: 20px;
  margin: 0;
  margin-right: 12px;
}

.filter-checkbox__text{
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}
