.aboutMe__heading{
  font-weight: 400;
  font-size: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
  letter-spacing: -0.88px;
  width: 100%;
  margin: auto;
  margin-top: 112px;
  margin-bottom: 49px;
}

.aboutMe{
  text-align: start;
  width: 95%;
}

.aboutMe__container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 325px;
}

.aboutMe__name{
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 18px;
}

.aboutMe__activity{
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 26px;
  margin-top: 0;
}

.aboutMe__about-me{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  margin-bottom: 99px;
}

.aboutMe__link{
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.aboutMe__info{
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 85px;
}

.aboutMe__photo{
  margin-top: 14px;
  border-radius: 10px;
  background: url('../../images/myPhoto.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 270px;
  height: 327px;
}
