.navTab {
  display: flex;
}

.navTab__button{
  display: flex;
  font-size: 12px;
  line-height: 16px;
  background-color: #303030;
  border-radius: 10px;
  width: 96px;
  height: 36px;
  margin-top: 151px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: center;
}

.navTab__button:last-child{
  margin-right: 0px;
}
